

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset Euro_2012_stats_TEAM

### Step 3. Assign it to a variable called euro12.

In [2]:
euro12 = pd.read_csv('Euro_2012_stats_TEAM.csv')

euro12 = euro12.dropna(how='any')

### Step 4. Select only the Goal column.

In [3]:
euro12.Goals
#print(euro12['Goals'])

1      4.0
2      4.0
3      5.0
4      3.0
5     10.0
6      5.0
7      6.0
8      2.0
9      2.0
10     6.0
11     1.0
12     5.0
13    12.0
14     5.0
15     2.0
Name: Goals, dtype: float64

### Step 5. How many team participated in the Euro2012?

In [4]:
print(euro12.Team.size - euro12.Goals.isna().sum().sum())

15

### Step 6. What is the number of columns in the dataset?

In [5]:
print(euro12.columns.size)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [6]:
#discipline = pd.DataFrame(euro12, columns=['Team', 'Yellow Cards', 'Red Cards'])
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
print(discipline)

                   Team  Yellow Cards  Red Cards
1        Czech Republic           7.0        0.0
2               Denmark           4.0        0.0
3               England           5.0        0.0
4                France           6.0        0.0
5               Germany           4.0        0.0
6                Greece           9.0        1.0
7                 Italy          16.0        0.0
8           Netherlands           5.0        0.0
9                Poland           7.0        1.0
10             Portugal          12.0        0.0
11  Republic of Ireland           6.0        1.0
12               Russia           6.0        0.0
13                Spain          11.0        0.0
14               Sweden           7.0        0.0
15              Ukraine           5.0        0.0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [7]:
discipline.sort_values(['Red Cards','Yellow Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece           9.0        1.0
9                Poland           7.0        1.0
11  Republic of Ireland           6.0        1.0
7                 Italy          16.0        0.0
10             Portugal          12.0        0.0
13                Spain          11.0        0.0
1        Czech Republic           7.0        0.0
14               Sweden           7.0        0.0
4                France           6.0        0.0
12               Russia           6.0        0.0
3               England           5.0        0.0
8           Netherlands           5.0        0.0
15              Ukraine           5.0        0.0
2               Denmark           4.0        0.0
5               Germany           4.0        0.0

### Step 9. Calculate the mean Yellow Cards given per Team

In [8]:
round(discipline['Yellow Cards'].mean())

7

### Step 10. Filter teams that scored more than 6 goals

In [9]:
euro12[euro12.Goals > 6]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10.0,32.0,32.0,47.80%,15.60%,80.0,2.0,1.0,0.0,...,10.0,62.60%,63.0,49.0,12.0,4.0,0.0,15.0,15.0,17.0
13,Spain,12.0,42.0,33.0,55.90%,16.00%,100.0,0.0,1.0,0.0,...,15.0,93.80%,102.0,83.0,19.0,11.0,0.0,17.0,17.0,18.0

### Step 11. Select the teams that start with G

In [10]:
euro12.Team[5:7]

6    Greece
7     Italy
Name: Team, dtype: object

### Step 12. Select the first 7 columns

In [11]:
print(euro12[euro12.columns[0:7]])

                   Team  Goals  Shots on target  Shots off target  \
1        Czech Republic    4.0             13.0              18.0
2               Denmark    4.0             10.0              10.0
3               England    5.0             11.0              18.0
4                France    3.0             22.0              24.0
5               Germany   10.0             32.0              32.0
6                Greece    5.0              8.0              18.0
7                 Italy    6.0             34.0              45.0
8           Netherlands    2.0             12.0              36.0
9                Poland    2.0             15.0              23.0
10             Portugal    6.0             22.0              42.0
11  Republic of Ireland    1.0              7.0              12.0
12               Russia    5.0              9.0              31.0
13                Spain   12.0             42.0              33.0
14               Sweden    5.0             17.0              19.0
15              Ukraine    2.0              7.0              26.0

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
1             41.90%           12.90%                        39.0
2             50.00%           20.00%                        27.0
3             50.00%           17.20%                        40.0
4             37.90%            6.50%                        65.0
5             47.80%           15.60%                        80.0
6             30.70%           19.20%                        32.0
7             43.00%            7.50%                       110.0
8             25.00%            4.10%                        60.0
9             39.40%            5.20%                        48.0
10            34.30%            9.30%                        82.0
11            36.80%            5.20%                        28.0
12            22.50%           12.50%                        59.0
13            55.90%           16.00%                       100.0
14            47.20%           13.80%                        39.0
15            21.20%            6.00%                        38.0

### Step 13. Select all columns except the last 3.

In [12]:
print(euro12[euro12.columns[-3:]].head())

   Subs on  Subs off  Players Used
1     11.0      11.0          19.0
2      7.0       7.0          15.0
3     11.0      11.0          16.0
4     11.0      11.0          19.0
5     15.0      15.0          17.0

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [13]:
new = pd.DataFrame(euro12, index=[3,7,12], columns=['Team','Shooting Accuracy'])

#euro12.loc[[3,7,12], ['Team','Shooting Accuracy']]
new

       Team Shooting Accuracy
3   England            50.00%
7     Italy            43.00%
12   Russia            22.50%

### Step 15. Use apply method on Goal Column to make a new column called Performance, using following conditions

1. If Goals are less than or equal to 2, peformance is **Below Avg**
2. If Goals are more than 2 and less than or equal to 5, peformance is **Average**
3. If Goals are more than 5 and less than or equal to 10, peformance is **Above Average**
4. If Goals are more than 10 then peformance is **Excellent**

In [14]:
def check_performance(x):
    if x <= 2:
        return 'Below Avg'
    elif x > 2 and x <= 5:
        return 'Average'
    elif x > 5 and x <= 10:
        return 'Above Average'
    else:
        return 'Excellent'


euro12['Performance'] = euro12.Goals.apply(check_performance)

In [15]:
euro12[['Team','Goals','Performance']]

                   Team  Goals    Performance
1        Czech Republic    4.0        Average
2               Denmark    4.0        Average
3               England    5.0        Average
4                France    3.0        Average
5               Germany   10.0  Above Average
6                Greece    5.0        Average
7                 Italy    6.0  Above Average
8           Netherlands    2.0      Below Avg
9                Poland    2.0      Below Avg
10             Portugal    6.0  Above Average
11  Republic of Ireland    1.0      Below Avg
12               Russia    5.0        Average
13                Spain   12.0      Excellent
14               Sweden    5.0        Average
15              Ukraine    2.0      Below Avg

<b>Teacher:</b> Sir Anees Ahmed<p>
<b>Timings:</b> 9:00 to 1:00<p>
<b>Institute:</b> Saylani Gulshan<p>
<b>Name:</b> Zain Ahmed Saleem<p>
<b>Roll No:</b> AIC017587<p>
<b>Batch:</b> 01<p>